/****||- google fonts yeey(I no longer like Montserrat..) -||****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
   font-family: 'Selawik';
   src:  url('fonts/selawk.ttf') format('truetype'),
         url('fonts/selawkb.ttf') format('truetype'),
         url('fonts/selawkl.ttf') format('truetype'),
         url('fonts/selawksb.ttf') format('truetype'),
         url('fonts/selawksl.ttf') format('truetype');
}


:root {
   /* size of a 'rem', first time playing with scale based on viewport */
    font-size: 16px;
}
* {
   box-sizing: border-box; 
   text-decoration: none;
   margin: 0;
   padding: 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
   outline: 0;
}

html, body {
    
}
html {
   /* display: block; */
   /* position: relative; */
   /* width: 100%; */
   /* height: 100vh; */
   background-color: #0a1a2b;
}
body {
   display: block;
   position: relative;

   /* grid-auto-flow: dense; */
   /* grid-template-columns: 1fr minmax(0, 960px) 1fr; */
   /* grid-template-rows: auto; */
}

#prime {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   /* grid-column: 2; */
   height: 80rem;
   width: 100%;
   overflow-y:scroll;
   background-color: whitesmoke;
}

.it {
   margin: 5px;
   padding: 20px;
   width: calc(50% - 50px - 2px); /* width less margin less border */
   border: 1px solid #ccc;
   background-color: lightgreen;
   box-sizing: border-box;
   background-color: #462F5C;
}
.it h1 {
   /* text-align: center; */
   
}

#it1 {
   height: 14rem;
}
#it2 {
   height: 24rem;
}
#it3 {
   height: 8rem;
}
#it4 {
   height: 17rem;
}
#it5 {
   height: 22rem;
}
#it6 {
   height: 7rem;
}
#it7 {
   height: 11rem;
}
#it8 {
   height: 10rem;
}



a {
   -webkit-tap-highlight-color: transparent;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

h1 {
	font-family: 'Selawik', sans-serif;
	font-weight: 300;
	font-size: 2.2rem;
	text-align: left;
	
	color: #fff;
}

h2 {
	font-family: 'Selawik', sans-serif;
	font-weight: 300;
	font-size: 1.25rem;
	text-align: left;
	
   color: #462F5C;
   
}

h3 {
	font-family: 'Selawik', sans-serif;
	font-weight: 600;
	font-size: .9rem;
	text-align: left;
	
   color: #462F5C;
   
}

h3.light {
   font-weight: 400;
   font-size: .85rem;
}

h4 {
	font-family: 'Selawik', sans-serif;
	font-weight: 100;
	font-size: .7rem;
	text-align: left;
	
   color: #462F5C;
}

.element-content h4 {
   color: #473029;
}

h4.bold {
   font-weight: 700;
}

.hours-text {
   font-size: .75rem;
   color: #1d1a17;
}

h5 {
	font-family: 'Selawik', sans-serif;
	font-weight: 100;
	font-size: .6rem;
	text-align: left;
	
   color: #a7a7a7;
}

